<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This splurty was built by <a target="_blank" href="http://github.com/jcrides">
    Jeremy</a>. A DevOps guy that works at a great crowd funding company
    <a target="_blank" href="https://www.indiegogo.com">IndieGoGo</a>.
  <br>
    Right now I'm learning web development at <a target="_blank" href="http://thefirehoseproject.com">
    the Firehose Project</a>. Check it out if you want to learn to!
  </p>
  <br>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'Jeremy.png', :class => 'img-responsive' %>
  </div>
  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Jeremy Carey</h2>
    <br>
    <p>
      I was in the U.S. Marines for 11 years. After getting out of the Marines I started working in IT. From there I got into TechOps and then into DevOps roles. I'm now planning to move to a full time development role. I'm also boring on Facebook :-)
    </p>
  </div>
  <br class="clear">
</div>
